server:
  port: 8085

spring:
  application:
    name: enrollment-service
  datasource:
    url: jdbc:mysql://localhost:3306/deepedugraph_enrollments?createDatabaseIfNotExist=true
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
