server:
  port: 8083

spring:
  application:
    name: course-service
  datasource:
    url: jdbc:mysql://localhost:3306/deepedugraph_courses?createDatabaseIfNotExist=true
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
