server:
  port: 8082

spring:
  application:
    name: student-service
  datasource:
    url: jdbc:mysql://localhost:3306/deepedugraph_students?createDatabaseIfNotExist=true
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
