server:
  port: 8084

spring:
  application:
    name: tracking-service
  datasource:
    url: jdbc:mysql://localhost:3306/deepedugraph_tracking?createDatabaseIfNotExist=true
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
