server:
  port: 8086

spring:
  application:
    name: feature-service
  datasource:
    url: jdbc:mysql://localhost:3306/deepedugraph_features?createDatabaseIfNotExist=true
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB
